*,*::before,*::after{
  box-sizing: border-box;
}
html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #ececec;
  color: #1a1a1a;
}
.view-more-link{
  border: none;
  cursor: pointer;
  background-color: #ffc300;
  color: #003566;
  padding: 7px 10px;
  border-radius: 6px;
}
.nav{
  padding: 7px 10px;
  border-radius: 6px;
  background-color: #ffc300;
  color: #003566;
}
.search{
  font-size: 0.78rem;
}

.nav:hover{
  background-color: #141414;
  color: #FFFFFF;
  
}
.view-more-link:active,.nav:active{
  font-size: 1.2rem;
}

/* Header section css start */
.container{
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.icon{
  
  width: 60px;
  margin-left: 1.25em; 
 
}
.mode{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 8px;
}


.logo-title-container{
  display: flex;
  align-items: center;

}
.lightmode-icon{
  width: 30px;
}


.heading{
  margin-left: 1em;
  padding: 3px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
  
}
.h-link{
  text-decoration: none;
}
ul{
  display: flex;
  align-items: center;
  
}
li{
  font-size: 0.75rem;
  font-weight: 600;
  list-style: none;
  margin-right: 1.67em;
}
.nav{
  font-size: 0.75rem;
  text-decoration: none;
  
}
.search-btn{
  background-color: #ffc300;
  color: #003566;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ffc300;
 
}
.view-more-link:hover,.view-more-link:active,.search-btn:hover,.external-link:hover{
  
  background-color: #ffc300;
  color: white;
  border: 1px dotted #001d3d;
  cursor: pointer;
}

/* header css end */

/* header image css start */


.header-image-container{
  width: 90vw;
  height: 220px;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: #FFFFFF;
  /* padding: 1.25em;
  padding-top: 4.3em; */
  margin: 1em;  
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.hero-container{
  margin-top: 2em;
}
.top-headline{
  border-radius: 1em;
  padding: 0.5em;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.recent-img{
  width: 70px;
  height: 70px;
}
.recent-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.recent-link{
  text-decoration: none;
  color: inherit;
}
.recent-link:hover{
  text-decoration: underline #001d3d;
}
.date{
  font-size: 0.75rem;
  margin-bottom: 0.66em;
  
}
.image-title{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0.25em;
}
.image-body{
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.25;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  
}
/* header image css end */

/* Main body css start */
.main-container{
  padding: 2.125em 1.25em 0 1.25em;
}

.main-image{
 display: block;
 width: 100%;
 height: 232px;
 object-fit: cover; 
 margin-bottom: 0.875em;
 border-radius: 1em;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main-date{
  font-size: 0.875rem;
  margin-bottom: 0;
}
.main-heading{
  font-size: 1.5rem;
  margin: 0.375em 0;
  
}
.title-link{
  text-decoration: none;
}

.main-body{
  margin: 0 0 2.5625em 0;;
  color: #505050;
  font-size: 1rem;
  line-height: 1.25;
}
.view-more-container{
  
  text-align: center;
  margin-bottom: 2.5em;
}
.view-more-link{
  font-weight: 700;
  
}
/* main css end */

/* footer css start */
.footer-container{
  min-height: 105px;
  background-color: #242424;
  color: #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.footer-heading{
  font-size: 0.75rem;
  margin-bottom: 0;
  
}
.copyright{
  margin-top: 0.5em;
  font-size: 0.75rem;  
}
.wider{
  display: none;
}
.search-input{
  padding: 0.5em;
  border-radius: 8px;
  width: 200px;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
}
/* footer css end */

/* media queries */
@media(min-width:630px)
{
  .wider{
      display: block;
  }

  .main-container{
      padding: 3.3125em;
      display: flex;
      gap: 1.625em;
      flex-wrap: wrap;
      justify-content: center;
      
  }
  .main-post{
      flex-basis: 400px;
      
  }
  .view-more-container{
      display: block;
  }

  .heading{
      font-size: 2rem;
      letter-spacing: 3px;
  }
  li{
      font-size: 0.9rem;
  }
  .footer-heading,.copyright{
      font-size: 0.90rem;
  }
  .view-more-link{
      font-size: 1.25rem;
  }
  
  /* css for about me page */
  
  .aboutme{
      padding: 3.3125em;
      display: flex;
      gap: 2em;
      align-items: center;
      
  }
  .qanda-section{
      padding: 0 7.5em;
  }

}


.image-heading{
  margin-top: 0.80em;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0;
  
}
.image-body{
  margin-top: 1em;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0;
}
.qanda-section{
  margin-top: 3.125em;
}
.question{

  font-size: 1.1rem;
  
}
.answer{
  font-size: 1rem;
  line-height: 1.25;
}
.space{
  margin-top: 1.5em;
}
.recent-posts{
  margin-top: 2.80em;
  margin-bottom: 0;
}
.nomore{
  text-align: center;
  color: grey;
}



/* Post Page CSS */
/* Navbar CSS */
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pp-title{
  margin-top: 60px;
  font-size: 1.5rem;
}
.post-container{
  padding: 1em;
}
.pp-date{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2em;
}
.pp-img-container{
  width: 100%;
  padding: 1em;
  margin: 40px 0;
}
.pp-img{
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
 
}
.dummy{
  height: 100%;
}
.App{
  height: 100%;
}
.pp-description,.heading-body{
  font-size: 1.3rem;
  line-height: 1.5;
 
}
.pp-heading{
  font-size: 1.5rem;
  margin-top: 3em;
}
.loading{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.s-title{
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid grey;
  font-weight: 500;
  margin-bottom: 1.3em;
}
.s-p-title{
  font-weight: normal;  
  font-size: 1rem;  
}
.s-p-date{
  font-size: 0.8rem;
  color: grey;
}


/* Post Page CSS 480px */
@media (min-width: 680px) {
  .post-container{
    padding: 3em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .pp-date{
    align-self: left;
   
  }

  .pp-img{
    margin: 0 auto;

    width: 440px;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
@media (min-width:1000px) {
  .pp-title{

    font-size: 2.25rem;
  }
  .post-container{
      width: 60%;
  }
}
.pp-heading{
  font-size: 2.25rem;
}
@media (min-width:1100px) {
  .pp-img{
    width: 100%;
  }
  .heading{
    font-size: 2rem;
  }
  .post-container{
    padding: 0;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    
    margin: 0 auto;

    
  }
  .nav,.search{
    font-size: 1rem;
  }
  .main{
    width: 100%;
   

  }
  .sidebar{
    display: block;
    width: 350px;
    padding: 0 1.5em ;

 
 
  }
  .pp-title{
    margin: 0;
  }
  .s-title{
    margin: 0;
   
    border: none;
    font-weight: 500;
    margin-bottom: 1.3em;
  }
  .s-p-title{
    font-weight: normal;    
  }
  .s-p-date{
    font-size: 0.8rem;
    color: grey;
  }
  .outer-post{

    padding: 3em;
  }
  .upper-main{

    width: 60%;
    margin: 0 auto;
  }
  
}


 
 .main-heading:hover{
  background-position: 0;
 }
 .main-heading{
  background-image: linear-gradient(
    to right,
    #32b2e5,
    #a714cc 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
 }
 .main-heading:hover::before {
  width: 100%;
}
.main-heading:before {

  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
.go-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 1em;
  border-radius: 50%;
}
.go-top:hover{
  background-color: #996ee9;
  color: white;
  cursor: pointer;
}
.external-link{
  font-weight: 600;
  color: #003566;
  background-color: #ffc300;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 8px;
  display: inline-block;
}

/* dark mode color */
.heading-dark{
  color: #e1e1e1;
}
.main-heading-dark{
  background-image: linear-gradient(
    to right,
    #32b2e5,
    #a714cc 50%,
    #d8d7d7 50%
  );
}
.main-body-dark{
  color: rgb(164 164 164);
}
.view-more-link-dark,.nav-dark{
  color: rgb(170 200 228);
  background-color: rgb(47 47 47);
  padding: 0.8em 1em;
}
.header-image-container-dark{
  background: rgb(36 36 36)
}
.dark{
  color: rgb(155, 155, 155)
}
.footer-container-dark{
  color: rgb(170 200 228);
}
.go-top-dark:hover{
  background-color: #505050;
}
.top-headline-dark{
  color: rgb(164 164 164);
}
.view-more-link-dark:hover{
  background-color: #505050;
}
/* 






 */
